---
import fetchApi from "../lib/strapi";
import type TextImageTypes from "../interfaces/text-images-types";

import { Image } from "astro:assets";
import type StrapiImagesTypes from "../interfaces/strapi-images-types";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";

import Layout from "../layouts/Layout.astro";
import ApartmentLayout from "../images/ApartmentLayout.astro";

const amenitie = await fetchApi<TextImageTypes>({
  endpoint: "amenitie",
  wrappedByKey: "data",
  populate: {
    text: {
      populate: true,
    },
    images: {
      populate: true,
    },
  },
});
---

<Layout title="Ammenities">
  <section>
    <h2 class="font-hand">Amenities</h2>
  </section>
  <main class="pelican wrap">
    <!-- TODO: fix the alt -->
    {
      amenitie.attributes.images.data.map((image: StrapiImagesTypes) => (
        <div>
          <Image
            src={`${import.meta.env.AWS_IMAGES}${image.attributes.name}`}
            class="poster"
            alt={
              `${import.meta.env.STRAPI_IMAGE_URL}${image.attributes.alternativeText}` ||
              "apartment image"
            }
            inferSize={true}
          />
        </div>
      ))
    }
  </main>
  <div class="pelican">
    <ApartmentLayout />
  </div>
  <section>
    <BlocksRenderer content={amenitie.attributes.text} />
  </section>
</Layout>
