---
// TODO: I wonder about using regex over the alt text of images to add context
// TODO: add variables to grab images from the strapi api as well as alt text
// currently running aws images to get up and running quickly // this doesnt include the alt text

import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import { Image } from "astro:assets";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import ApartmentLayout from "../images/ApartmentLayout.astro";
import type AboutTypes from "../interfaces/about-types";
import type TextImageTypes from "../interfaces/text-images-types";
import { YouTube } from "@astro-community/astro-embed-youtube";
import type SurfCamTypes from "../interfaces/surf-cam-types";
import RateBlock from "../components/rate-block.astro";

const activity = await fetchApi<TextImageTypes>({
  endpoint: "activity",
  wrappedByKey: "data",
  populate: {
    images: {
      populate: true,
    },
  },
});

const surfCam = await fetchApi<SurfCamTypes>({
  endpoint: "surf-cam",
  wrappedByKey: "data",
  populate: {
    poster: {
      populate: true,
    },
  },
});

const amenitie = await fetchApi<TextImageTypes>({
  endpoint: "amenitie",
  wrappedByKey: "data",
  populate: {
    images: {
      populate: true,
    },
  },
});

const about = await fetchApi<AboutTypes>({
  endpoint: "about",
  wrappedByKey: "data",
  populate: {
    images: {
      populate: true,
    },
  },
  fields: ["images"],
});
---

<Layout title="Welcome">
  <div class="pelican wrap">
    <!-- slighlty hacky way to order the images from a strapi gallery -->
    <!-- TODO: needs a fallback on the caption order -->
    {
      about?.images
        .sort((a, b) => a.caption.localeCompare(b.caption))
        .map((image) => (
          <div>
            {/* astro images need this on the flex in safari but it breaks the auto height */}
            <Image
              src={`${import.meta.env.AWS_IMAGES}${image.name}`}
              class="poster"
              alt={
                `${import.meta.env.STRAPI_IMAGE_URL}${image.alternativeText}` ||
                "apartment image"
              }
              inferSize={true}
            />
          </div>
        ))
    }
  </div>
  <main>
    <RateBlock />
  </main>

  <div class="pelican wrap">
    {
      amenitie.images.map((image) => (
        <div>
          <Image
            src={`${import.meta.env.AWS_IMAGES}${image.name}`}
            class="poster"
            alt={
              `${import.meta.env.STRAPI_IMAGE_URL}${image.alternativeText}` ||
              "apartment image"
            }
            inferSize={true}
          />
        </div>
      ))
    }
  </div>
  <div class="pelican">
    <ApartmentLayout />
  </div>
  <section>
    <hr />
    <h2 class="font-hand">Amenities</h2>
    <BlocksRenderer content={amenitie.text} />
  </section>

  <div class="pelican wrap">
    {
      activity.images.slice(0, 2).map((image) => (
        <div>
          <Image
            src={`${import.meta.env.AWS_IMAGES}${image.name}`}
            class="poster"
            alt={
              `${import.meta.env.STRAPI_IMAGE_URL}${image.alternativeText}` ||
              "apartment image"
            }
            inferSize={true}
          />
        </div>
      ))
    }
  </div>
  <section>
    <hr />
    <h2 class="font-hand">Things to see and do</h2>
    <BlocksRenderer content={activity.text} />
    <h3 class="font-hand">Live Surf Cam</h3>
    <YouTube id={surfCam.youtube} poster={surfCam.poster.formats.small.url} />
  </section>
</Layout>
