---
// TODO: I wonder about using regex over the alt text of images to add context
// TODO: add variables to grab images from the strapi api as well as alt text
// currently running aws images to get up and running quickly // this doesnt include the alt text

import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import { Image } from "astro:assets";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import ApartmentLayout from "../images/ApartmentLayout.astro";
// import type TextTypes from "../interfaces/text-types";
import type AddressTypes from "../interfaces/address-types";
import type RateTypes from "../interfaces/rate-types";
import type AboutTypes from "../interfaces/about-types";
import type TextImageTypes from "../interfaces/text-images-types";

const activity = await fetchApi<TextImageTypes>({
  endpoint: "activity",
  wrappedByKey: "data",
  populate: {
    text: {
      populate: true,
    },
    images: {
      populate: true,
    },
  },
});

const address = await fetchApi<AddressTypes>({
  endpoint: "address",
  wrappedByKey: "data",
  populate: {
    streetAddress: {
      populate: true,
    },
    addressLocality: {
      populate: true,
    },
    addressRegion: {
      populate: true,
    },
    addressCountry: {
      populate: true,
    },
    postalCode: {
      populate: true,
    },
    unit: {
      populate: true,
    },
    island: {
      populate: true,
    },
    building: {
      populate: true,
    },
    googleMapLink: {
      populate: true,
    },
  },
});

const rate = await fetchApi<RateTypes>({
  endpoint: "rate",
  wrappedByKey: "data",
  populate: {
    taxId: { populate: true },
    vrbo: {
      populate: true,
    },
    children: {
      populate: true,
    },
    cleaning: {
      populate: true,
    },
    direct: {
      populate: true,
    },
  },
});

const amenitie = await fetchApi<TextImageTypes>({
  endpoint: "amenitie",
  wrappedByKey: "data",
  populate: {
    text: {
      populate: true,
    },
    images: {
      populate: true,
    },
  },
});

const about = await fetchApi<AboutTypes>({
  endpoint: "about",
  wrappedByKey: "data",
  populate: {
    images: {
      populate: true,
    },
  },
});
---

<Layout title="Welcome">
  <div class="pelican wrap">
    {
      about.attributes.images.data.map((image) => (
        <div>
          {/* astro images need this on the flex in safari but it breaks the auto height */}
          <Image
            src={`${import.meta.env.AWS_IMAGES}${image.attributes.name}`}
            class="poster"
            alt={
              `${import.meta.env.STRAPI_IMAGE_URL}${image.attributes.alternativeText}` ||
              "apartment image"
            }
            inferSize={true}
          />
        </div>
      ))
    }
  </div>
  <main>
    <hr />
    <h2 class="font-hand">Rates</h2>
    <p>
      If you want to reserve a date or have comments or questions, please email
      or call
    </p>

    <BlocksRenderer content={rate.attributes.direct} />
    <BlocksRenderer content={rate.attributes.children} />
    <BlocksRenderer content={rate.attributes.cleaning} />
    <p>VRBO - {rate.attributes.vrbo}</p>

    <p>Hawaii Hotel & excise Tax is %{rate.attributes.taxRate} additional</p>
  </main>

  <div class="pelican wrap">
    {
      amenitie.attributes.images.data.map((image) => (
        <div>
          <Image
            src={`${import.meta.env.AWS_IMAGES}${image.attributes.name}`}
            class="poster"
            alt={
              `${import.meta.env.STRAPI_IMAGE_URL}${image.attributes.alternativeText}` ||
              "apartment image"
            }
            inferSize={true}
          />
        </div>
      ))
    }
  </div>
  <div class="pelican">
    <ApartmentLayout />
  </div>
  <section>
    <hr />
    <h2 class="font-hand">Amenities</h2>
    <BlocksRenderer content={amenitie.attributes.text} />
  </section>

  <div class="pelican wrap">
    {
      activity.attributes.images.data.slice(0, 2).map((image) => (
        <div>
          <Image
            src={`${import.meta.env.AWS_IMAGES}${image.attributes.name}`}
            class="poster"
            alt={
              `${import.meta.env.STRAPI_IMAGE_URL}${image.attributes.alternativeText}` ||
              "apartment image"
            }
            inferSize={true}
          />
        </div>
      ))
    }
  </div>
  <section>
    <hr />
    <h2 class="font-hand">Things to see and do</h2>
    <BlocksRenderer content={activity.attributes.text} />
  </section>
</Layout>
