---
// TODO: I wonder about using regex over the alt text of images to add context
// TODO: add variables to grab images from the strapi api as well as alt text
// currently running aws images to get up and running quickly // this doesnt include the alt text

import Layout from "../layouts/Layout.astro";
import qs from "qs";
import { Image } from "astro:assets";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import ApartmentLayout from "../images/ApartmentLayout.astro";

const activityUrl = `${import.meta.env.STRAPI_URL}api/activity`;
const activityQuery = qs.stringify({
  populate: {
    text: {
      populate: true,
    },
  },
});

const activity = await fetch(`${activityUrl}?${activityQuery}`).then(
  (response) => response.json()
);

interface ActivityTypes {
  children: {
    text: string;
  }[];
}

const addressUrl = `${import.meta.env.STRAPI_URL}api/address`;
const addressQuery = qs.stringify({
  populate: {
    streetAddress: {
      populate: true,
    },
    addressLocality: {
      populate: true,
    },
    addressRegion: {
      populate: true,
    },
    addressCountry: {
      populate: true,
    },
    postalCode: {
      populate: true,
    },
    unit: {
      populate: true,
    },
    island: {
      populate: true,
    },
    building: {
      populate: true,
    },
  },
});

const address = await fetch(`${addressUrl}?${addressQuery}`).then((response) =>
  response.json()
);

const ratesUrl = `${import.meta.env.STRAPI_URL}api/rate`;
const ratesQuery = qs.stringify({
  populate: {
    taxId: { populate: true },
    vrbo: {
      populate: true,
    },
    checkin: {
      populate: true,
    },
    checkout: {
      populate: true,
    },
    children: {
      populate: true,
    },
    cleaning: {
      populate: true,
    },
    direct: {
      populate: true,
    },
  },
});

const rate = await fetch(`${ratesUrl}?${ratesQuery}`).then((response) =>
  response.json()
);

const amenityUrl = `${import.meta.env.STRAPI_URL}api/amenitie`;
const amenityQuery = qs.stringify({
  populate: {
    text: {
      populate: true,
    },
    images: {
      populate: true,
      fields: ["name", "width", "height", "url"],
    },
  },
});

const amenity = await fetch(`${amenityUrl}?${amenityQuery}`).then((response) =>
  response.json()
);

// console.log(amenity);
// console.log(amenity.data.attributes.images);

amenity.data.attributes.images.data.map(
  (image) =>
    // image.attributes.url,
    // console.log('🦄'),
    console.log(image)
  // console.log(image.attributes)
  // console.log(image.attributes.map((imageLayer) => imageLayer.url))
);

// const postImage = featuredImage.data.attributes.url || null;

interface RateTypes {
  text: string;
}

// Im saying yes to trailing slash in the variable but open to debate
const awsImages = "https://hale-pau-hana.s3.us-west-1.amazonaws.com/";
---

<Layout title={`Welcome to ${address.data.attributes.building}`} `>
  <div class="pelican wrap">
    <Image
      src={`${awsImages}hale-pau-hana00005.jpeg`}
      alt="the apartment above the beach."
      class="poster"
      inferSize={true}
    />
    <Image
      src={`${awsImages}hale-pau-hana00004.jpeg`}
      alt="sunset on the beach."
      class="poster"
      inferSize={true}
    />
  </div>
  <main>
    <h2 class="font-hand">Rates</h2>
    <p>
      If you want to reserve a date or have comments or questions, please email
      or call
    </p>

    <BlocksRenderer content={rate.data.attributes.direct} />
    <BlocksRenderer content={rate.data.attributes.children} />
    <BlocksRenderer content={rate.data.attributes.cleaning} />
    <p>VRBO - {rate.data.attributes.vrbo}</p>

    <p>Hawaii Hotel & excise Tax is % additional</p>
  </main>

  <div class="pelican wrap">
    {
      amenity.data.attributes.images.data.map((image) => (
        <Image
          src={`${import.meta.env.STRAPI_IMAGE_URL}${image.attributes.url}`}
          alt={`${import.meta.env.STRAPI_IMAGE_URL}${image.attributes.name}`}
          inferSize={true}
        />
      ))
    }
  </div>
  <div class="pelican">
    <ApartmentLayout />
  </div>
  <section>
    <h2>Amenities</h2>
    <BlocksRenderer content={amenity.data.attributes.text} />
  </section>

  <div class="pelican wrap">
    <Image
      src={`${awsImages}hale-pau-hana00008.jpeg`}
      alt="the apartment above the beach."
      inferSize={true}
    />
    <Image
      src={`${awsImages}hale-pau-hana00003.jpeg`}
      alt="the apartment above the beach."
      inferSize={true}
    />
  </div>
  <section>
    <h2>Things to see and do</h2>
    <BlocksRenderer content={activity.data.attributes.text} />
  </section>
</Layout>
