---
import Layout from "../layouts/Layout.astro";
import qs from "qs";

// is this problematic that you aree going directly to the api reference what if you need a whole bunch


// const url = new URL(`${import.meta.env.STRAPI_URL}/api/${endpoint}`);
const url = `${import.meta.env.STRAPI_URL}api/address`;

console.log(url)

const query = qs.stringify({
  populate: {
    streetAddress: {
      populate: true,
    },
  },
});

const posts = await fetch(`${url}?${query}`).then((response) =>
  response.json()
);


console.log('url');

// console.log(posts);
// console.log(posts.data);

// const { posts } = Astro.props;
// console.log(posts);
---

<Layout title="Welcome to Astro.">
  <h1>before</h1>

{posts.data.attributes.streetAddress}

  <h1>after</h1>

  <h1>Location</hjson1>

</Layout>