---
import Layout from "../layouts/Layout.astro";
import fetchApi from "../lib/strapi";
import type TextImageTypes from "../interfaces/text-images-types";
import { Image } from "astro:assets";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";

const activity = await fetchApi<TextImageTypes>({
  endpoint: "activity",
  wrappedByKey: "data",
  populate: {
    /* text: {
      populate: true,
    }, */
    images: {
      populate: true,
    },
  },
});
---

<Layout title="See and Do">
  <div class="pelican wrap">
    {
      activity.images.map((image) => (
        <div>
          <Image
            src={`${import.meta.env.AWS_IMAGES}${image.name}`}
            class="poster"
            alt={
              `${image.alternativeText}` ||
              `${import.meta.env.AWS_IMAGES}${image.name}` ||
              "apartment image"
            }
            inferSize={true}
          />
        </div>
      ))
    }
  </div>
  <main>
    <h2 class="font-hand">Things to see and do</h2>
    <BlocksRenderer content={activity.text} />
  </main>
</Layout>
