---
import Layout from '../layouts/Layout.astro';
// import { db, eq, Activities, Projects } from 'astro:db';

/* const activities = await db.select().from(Activities);
const projects = await db.select()
.from(Projects)
.innerJoin(Activities, eq(Projects.activitiesId, Activities.id))
;
 */
// up here is terminal
console.log('🦄');
// console.log(projects);

---

<!-- down here is the browser -->
<script>
  console.log('🦖');
</script>

<Layout title="Rental Rates for Hale Pau Hana #28">
  <main>

<!-- {
      activities.map(({ id, body, distance }) => (
        <article>
          <p>{body}</p>
          <p>{distance}</p>
        </article>
      ))
    } -->

<hr />

<!--     {
      projects.map(({ Projects, Activities }) => (
        <article>
          <h2>{Projects.work}</h2>
          <p>{Projects.activitiesId}</p>
          <p>{Activities.body}</p>
        </article>
      ))
    } -->



  </main>
</Layout>

<style>

</style>
