---
import fetchApi from "../lib/strapi";
import type ContactTypes from "../interfaces/contact-types";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import type AddressTypes from "../interfaces/address-types";
import FormatPhoneNumber from "../components/FormatPhoneNumber";

const contact = await fetchApi<ContactTypes>({
  endpoint: "contact",
  wrappedByKey: "data",
});

const address = await fetchApi<AddressTypes>({
  endpoint: "address",
  wrappedByKey: "data",
});
---

<footer class="text-center">
  <h4 class="font-hand">Contact</h4>
  <p class="stork">
    If you want to reserve a date or have comments or questions, please email or
    call {contact.name}
  </p>
  <a
    href={`mailto:${contact.email}?subject=${address.building}`}
    class="button"
  >
    {contact.email}
  </a>
  <a href={`tel:${contact.phone}`} class="button">
    <FormatPhoneNumber phoneNumberString={contact.phone} />
  </a>

  <div class="pre-wrap">
    <BlocksRenderer content={contact.postal} />
  </div>

  <hr />
  <p class="font-hand">{address.building}</p>
  <p>© {new Date().getFullYear()}</p>
</footer>
