---
import fetchApi from "../lib/strapi";
import type ContactTypes from "../interfaces/contact-types";
import { BlocksRenderer } from "@strapi/blocks-react-renderer";
import type AddressTypes from "../interfaces/address-types";
import FormatPhoneNumber from "../components/FormatPhoneNumber";

const contact = await fetchApi<ContactTypes>({
  endpoint: "contact",
  wrappedByKey: "data",
  populate: {
    name: {
      populate: true,
    },
    email: {
      populate: true,
    },
    phone: {
      populate: true,
    },
    postal: {
      populate: true,
    },
  },
});

const address = await fetchApi<AddressTypes>({
  endpoint: "address",
  wrappedByKey: "data",
  populate: {
    building: {
      populate: true,
    },
  },
});
---

<footer class="text-center">
  <h4 class="font-hand">Contact</h4>
  <p class="stork">
    If you want to reserve a date or have comments or questions, please email or
    call
  </p>
  <p>{contact.attributes.name}</p>
  <p>
    <a
      href={`mailto:${contact.attributes.email}?subject=${address.attributes.building}`}
    >
      {contact.attributes.email}
    </a>
  </p>
  <p>
    <a href={`tel:${contact.attributes.phone}`}>
      <FormatPhoneNumber phoneNumberString={contact.attributes.phone} />
    </a>
  </p>

  <div class="pre-wrap">
    <BlocksRenderer content={contact.attributes.postal} />
  </div>

  <hr />
  <p class="font-hand">{address.attributes.building}</p>
  <p>© {new Date().getFullYear()}</p>

  <!-- <a href="/ammenities">Ammenities</a> -->
</footer>
